pandas
numpy
matplotlib
seaborn
scikit-learn
torch --index-url https://download.pytorch.org/whl/cu128
torchvision --index-url https://download.pytorch.org/whl/cu128
torchinfo
tqdm
ipykernel
pathlib
pillow
albumentations
timm
scikit-fuzzy
